
body{
    margin: 0;
    
}
h1{

    font-family: 'Raleway', sans-serif;
    
}
hr{
    background-color: #FF8B38;
    width: 64px;
    height: 2px;


}
h2{
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
}
h3{
    font-family: 'Open Sans', sans-serif;
    white-space: nowrap;
   
  
 
}
.box{
  display: inline-block;
    width: 350px;
    height: 197px;
    margin-top: 80px;
    margin-left: 60px;
    text-align: center;
    
}

header{
    height: 180px;
    width: 370px;
    margin: 0 auto;
    margin-top: 107px;
    margin-left: 498px;
}
.round{
    border-radius: 140px; 
    border: 3px solid #FF8B38;

    
}
